<div class="container-fluid">
  <div class="row footer">
    <div class="col">
      <h3>Where We Are ?</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio,
        sit amet suscipit risus ultrices eu.
      </p>
      <h4>Adress: </h4>
      <p class="second">
        Ask Me Network, 233 Kajiado, Alwavega Kevin, Nairobi, Kenya.
      </p>
      <h4>Support:</h4>
      <p class="second">
        Support Telephone No : (+254)748276871
        Support Email Account : alovegakevin@gmail.com
      </p>
    </div>
    <div class="col">
      <h3>Quick Links</h3>
      <ul class="list-group">
        <li routerLink="/home" class="list-group-item"><a>- Home</a></li>
        <li routerLink="/ask-question" class="list-group-item"><a>- Ask Question</a></li>
        <li routerLink="/questions" class="list-group-item"><a>- Questions</a></li>
        <li routerLink="/contact-us" class="list-group-item"><a>- Contact Us</a></li>
        <li routerLink="/badges" class="list-group-item"><a>- Badges</a> </li>
        <li routerLink="" class="list-group-item"><a>- Logout</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>Popular Questions</h3>
      <div class="card">
        <div class="card-body">
          <h4><a href="#">Some quick thing</a></h4>
          <p>title and make up the bulk of the card's content.</p>
          <span class="date"><h5>Oct 18,2020</h5></span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4><a href="#">Some quick thing</a></h4>
          <p>title and make up the bulk of the card's content.</p>
          <span class="date"><h5>Oct 18,2020</h5></span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4><a href="#">Some quick thing</a></h4>
          <p>title and make up the bulk of the card's content.</p>
          <span class="date"><h5>Oct 18,2020</h5></span>
        </div>
      </div>
    </div>
    <div class="col">
      <h3>@Follow Me</h3>
      <p style="display: flex;">
        <mat-icon class="icon" svgIcon="github"></mat-icon>
        <a>
          alovegaCoderepository
          Please Folow me in my github account feel free to reach out
          where necessary
        </a>
      </p>
    </div>
  </div>
  <div class="row align-items-center bottom">
    <div class="col-sm">
      <p>Copyright 2020 Ask  | By alovegaKevin</p>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm" style="display: contents;">
      <p>
        <a href="https://github.com/alovega" class="footer-icon"><mat-icon class="i" svgIcon="github"></mat-icon></a>
        <a href="https://www.linkedin.com/in/kevin-alwavega-403843116/" class="footer-icon"><mat-icon class="i" svgIcon="linkedin"></mat-icon></a>
        <a href="https://medium.com/@alovegakevin" class="footer-icon"><mat-icon class="i" svgIcon="medium"></mat-icon></a>
        <a href="https://join.skype.com/invite/auto8e0jERmT" class="footer-icon"><mat-icon class="i" svgIcon="skype"></mat-icon></a>
        <a href="https://twitter.com/AlovegaK" class="footer-icon"><mat-icon class="i" svgIcon="twitter"></mat-icon></a>
        <a href="https://www.facebook.com/kevin.alovega" class="footer-icon"><mat-icon class="i" svgIcon="facebook"></mat-icon></a>
      </p>
    </div>
  </div>
</div>
