<article class="question">
      <h2>
        <a href="">
            <span>
               This is my very  First Question
            </span> 
        </a>
    </h2>
    <div class="question-author">
        <a class="question-author-img" href="">
            <span></span>
            <img src="../../assets/images/1152px-Line-style-icons-profile-male.svg.png" alt="profile">
        </a>
    </div>
    <div class="question-inner">
        <div class="clearfix"></div>
      <div class="question-desc">
        <div class="text">
            I am trying to find/change my career trajectory. Its a good cozy job, but I want something 
            that I get excited to work on in the morning. Career change is hard, for a lot of reasons. 
            So I cant just ...
        </div>
      </div>
        <div class="question-details">
            <span class="question-answered">
                <mat-icon svgIcon="check_solid"></mat-icon>
                in progress
            </span>
            <span class="question-favorite">
                <mat-icon svgIcon="star_solid"></mat-icon>
                10
            </span>
        </div>
        <span class="question-category">
            <mat-icon svgIcon="folder_closed_solid"></mat-icon>
            Programming
        </span>
        <span class="question-date">
            <mat-icon svgIcon="calendar_solid"></mat-icon>
            3 years
        </span>
        <span class="question-comment">
            <mat-icon svgIcon="comments_solid"></mat-icon>
            4
        </span>

        <span class="question-view">
            <mat-icon svgIcon="eye_solid"></mat-icon>
            100
        </span>
        <span class="badge-span" style="background-color: #dd3333"> Teacher</span>

        <div class="clearfix"></div>
    </div>
</article>

<article class="question">
    <h2>
      <a href="">
          <span>
             This is my very  First Question
          </span> 
      </a>
  </h2>
  <div class="question-author">
      <a class="question-author-img" href="">
          <span></span>
          <img src="../../assets/images/1152px-Line-style-icons-profile-male.svg.png" alt="profile">
      </a>
  </div>
  <div class="question-inner">
      <div class="clearfix"></div>
    <div class="question-desc">
      <div class="text">
          I am trying to find/change my career trajectory. Its a good cozy job, but I want something 
          that I get excited to work on in the morning. Career change is hard, for a lot of reasons. 
          So I cant just ...
      </div>
    </div>
      <div class="question-details">
          <span class="question-answered">
              <mat-icon svgIcon="check_solid"></mat-icon>
              in progress
          </span>
          <span class="question-favorite">
              <mat-icon svgIcon="star_solid"></mat-icon>
              10
          </span>
      </div>
      <span class="question-category">
          <mat-icon svgIcon="folder_closed_solid"></mat-icon>
          Programming
      </span>
      <span class="question-date">
          <mat-icon svgIcon="calendar_solid"></mat-icon>
          3 years
      </span>
      <span class="question-comment">
          <mat-icon svgIcon="comments_solid"></mat-icon>
          4
      </span>

      <span class="question-view">
          <mat-icon svgIcon="eye_solid"></mat-icon>
          100
      </span>
      <span class="badge-span" style="background-color: #dd3333"> Teacher</span>

      <div class="clearfix"></div>
  </div>
</article>

<article class="question">
    <h2>
      <a href="">
          <span>
             This is my very  First Question
          </span> 
      </a>
  </h2>
  <div class="question-author">
      <a class="question-author-img" href="">
          <span></span>
          <img src="../../assets/images/1152px-Line-style-icons-profile-male.svg.png" alt="profile">
      </a>
  </div>
  <div class="question-inner">
      <div class="clearfix"></div>
    <div class="question-desc">
      <div class="text">
          I am trying to find/change my career trajectory. Its a good cozy job, but I want something 
          that I get excited to work on in the morning. Career change is hard, for a lot of reasons. 
          So I cant just ...
      </div>
    </div>
      <div class="question-details">
          <span class="question-answered">
              <mat-icon svgIcon="check_solid"></mat-icon>
              in progress
          </span>
          <span class="question-favorite">
              <mat-icon svgIcon="star_solid"></mat-icon>
              10
          </span>
      </div>
      <span class="question-category">
          <mat-icon svgIcon="folder_closed_solid"></mat-icon>
          Programming
      </span>
      <span class="question-date">
          <mat-icon svgIcon="calendar_solid"></mat-icon>
          3 years
      </span>
      <span class="question-comment">
          <mat-icon svgIcon="comments_solid"></mat-icon>
          4
      </span>

      <span class="question-view">
          <mat-icon svgIcon="eye_solid"></mat-icon>
          100
      </span>
      <span class="badge-span" style="background-color: #dd3333"> Teacher</span>

      <div class="clearfix"></div>
  </div>
</article>