.single-question {
    padding: 20px 0;
    margin-bottom: 10px;
}
.question {

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    background: #fff;
    -moz-box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
    -webkit-box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
    box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
    border-bottom: 1px solid #dedede;
    position: relative;

}

.single-question.question h2 {
    margin-left: 20px;
  }

.question h2 {
    margin: 0 0 30px 101px;
      margin-left: 101px;
    color: #474d5d;
    overflow: hidden;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    padding-right: 175px;
  }

  .question-report {
    float: right;
    font-size: 12px;
    background-color: #2f3239;
    padding: 2px 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 23px;
    line-height: 15px;
  }

  .question-desc {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dedede;
    color: #707885;
    word-wrap: break-word;
  }

  a{
      color: #fff
  }

  .question-type-main{
    background-color: #ff7361;
    color: #fff;
    font-size: 11px;
    margin: 0;
    display: inline-block;
    padding: 2px 10px;
    position: absolute;
    top: 20px;
    right: 86px;
  }

  .single-question .question-inner {
    margin-left: 0;
    padding: 0 20px;
  }

  .small{
      height: 12px;
      width: 12px;
  }

  .favorite{
    margin: 20px 10px 0 0;
  }

  .question-details {
    float: left;
  }
  
  .question-answered {
      float: left;
      font-size: 14px;
      font-weight: 600;
    }