
  <div class="stickySideBar tabs-warp">
    <div class="widget_ask">
      <a href="" class="btn button">
        Ask a question
      </a>
    </div>
    <div class="widget stats-widget">
      <h3 class="widget_title"> Stats </h3>
      <div class="widget_stats ul_list">
        <ul>
          <li>
            <mat-icon svgIcon="question"></mat-icon>
            Questions(<span>19</span>)
          </li>
          <li>
            <mat-icon svgIcon="comment_solid"></mat-icon>
            Answers(<span>55</span>)
          </li>
          <li>
            <mat-icon svgIcon="asterisk_solid"></mat-icon>
            Best Answers(<span>4</span>)
          </li>
          <li>
            <mat-icon svgIcon="person"></mat-icon>
            Users(<span>49</span>)
          </li>
        </ul>
      </div>
    </div>
    <div class="widget widget_tag_cloud">
      <h3 class="widget_title">
        Tags
      </h3>
      <div class="tagcloud">
        <a href=""> analytics</a>
        <a href=""> programs</a>
        <a href=""> computer </a>
        <a href=""> developers</a>
        <a href=""> language </a>
        <a href=""> politics </a>
      </div>
    </div>
    <div class="widget question-widget">
      <h3 class="widget_title">Recent Questions</h3>
      <ul class="related-posts">
        <li class="related-item">
          <div class="question-div">
            <h3>Do I need to have an undergrad degree of CS?</h3>
            <p>Participate in the referendum/elections please</p>
            <div class="clear"></div>
            <span>November 20,  2019 </span>
          </div>
        </li>

        <li class="related-item">
          <div class="question-div">
            <h3>How much do web dev/ full-stack engineer make?</h3>
            <p>I am thinking of pursuing a career here</p>
            <div class="clear"></div>
            <span>December 20,  2019 </span>
          </div>
        </li>

        <li class="related-item">
          <div class="question-div">
            <h3>Dealing with an employee that went over my head?</h3>
            <p>I manage a small team and recently hired a new ...</p>
            <div class="clear"></div>
            <span>December 20,  2019 </span>
          </div>
        </li>
      </ul>
    </div>
  </div>