.widget_ask > a {
    margin-bottom: 30px !important;
    width: 100%;
    text-align: center;
    padding: 10px 15px !important;
  }
  
  .widget ul{
    list-style: none;
    padding: 0;
  }
  
  mat-icon{
    padding-left: 6px;
    padding-right: 6px;
  }
  
  .ul_list li {
    line-height: 25px;
    margin-bottom: 5px;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    list-style: none;
    color: #2f3239;
    font-size: 13px;
  }
  
  .questions-div {
    overflow: hidden;
  }
  
  .tagcloud a {
    float: left;
    border: 1px solid #2f3239;
    line-height: 20px;
    color: #fff;
    margin: 0 3px 3px 0 !important;
    padding: 2px 10px;
    font-size: 12px !important;
    background-color: #2f3239;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
  
  .tagcloud {
    overflow: hidden;
  }