.breadcrumbs .container {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    z-index: 991;
    margin: 0;
  }

  .breadcrumbs h1 {
    float: left;
    margin: 0;
    font-size: 25px;
  }

  h1{
      line-height: 30px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: open sans,droid arabic kufi,Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 18px;
    color: #ff7361;
  }

  .crumbs {
    float: left;
    line-height: 24px;
    padding-top: 15px;
    font-size: 13px;
  }

  .crumbs-span {
    margin: 0 5px;
  }

  .crumbs a{
      color: #fff
  }

  .crumbs .current {
    color: #2f3239;
  }

.index-no-box {
    margin-bottom: 70px;
  }

 .search-p input {
    background-color: #fff;
    border: none;
    color: #2f3239;
    font-size: 13px;
    font-style: italic;
    resize: none;
    text-indent: 38px;
    line-height: 48px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 48px;
    margin-top: 71px;
  }

  .box_icon {
    margin-bottom: 0;
    position: relative;
    z-index: 991;
  }

  .section-warp {
    padding: 30px 0;
      padding-top: 30px;
      padding-bottom: 30px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
  }

  .big-search {
    background: 0 0 !important;
    min-height: auto;
    margin-bottom: 30px !important;
    padding-top: 0 !important;
    margin-top: -30px;
  }

  .form input{
    display: block;
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .top-after-header .form {
    position: relative;
  }

  mat-icon{
    position: absolute;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    fill: #fff;
    background-color: #2f3239;
    top: 10px;
    left: 10px;
  }

  .btn{
    background: #ff7361;
    color: #fff;
    position: absolute;
  }


  .top-after-header .col-md-12 .btn {
    bottom: 6px;
    right: 6px;
  }

  .page-content{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    -moz-box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
    -webkit-box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
    box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
    border-bottom: 1px solid #dedede;
    margin-bottom: 30px;
  }

  .boxed-title {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    position: relative;
    margin-bottom: 10px !important;
  }

  .boxed-title h2 {
    padding: 20px 0 10px;
    margin: 0 20px 20px 0;
    border-bottom: 2px solid #dedede;
    font-size: 20px;
    font-weight: 600;
  }

  .col-md-9 > input, .col-md-9 > select, .col-md-9 > textarea{
    width: 100%;
  }

  .form-posts .form-description {
    width: 80%;
    display: inline-block;
  }

  .form-group span {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    color: #707885;
  }

  .form-group span.color {
    color: #b9b7b7;
  }

  .form-group input.submit{
    font-size: 15px;
    width: 97%;
    font-weight: 600;
    float: right;
    padding: 7px 15px;
  }

  select{
    color: #ff7361;
  }