<div class="breadcrumbs">
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Ask Questions</h1>
                <div class="clearfix"></div>
                <div class="crumbs">
                    <a href="">Home</a>
                    <span class="crumbs-span">/</span>
                    <span class="current">Ask Question</span>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="index-no-box"></div>
<div class="section-warp big-search top-after-header">
    <div class="container clearfix">
        <div class="box_icon">
            <div class="row">
                <div class="col-md-12">
                    <form action="" class="form">
                        <div class="search-p">
                            <input type="text" class="live-search" placeholder="search here...">
                            <mat-icon svgIcon="search"></mat-icon>
                            <button class="btn ask-search"> search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main-content container">
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <app-analytics></app-analytics>
        </div>
    </div>
</section>