<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="fxLayout"  fxLayout="row" fxLayoutAlign="space-around" fxHide.gt-sm>
        <div class="container" fxFlex="60">
          <span>
            <mat-icon class="logo" svgIcon="logo"></mat-icon>
          </span>
        </div>
        <div class="container button">
          <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
      <div fxShow="true" fxHide.lt-md style="width: inherit;">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div class="container" fxFlex="20" style="height: 35px;">
            <a routerLink="/home">
              <span class="navlink">
                <mat-icon class="navIcon" svgIcon="person"></mat-icon>
                <p> Login Area </p>
              </span>
            </a>
            <div class="vl"></div>
            <a routerLink="/add-post" >
              <span class="navlink">
                <mat-icon class="navIcon" svgIcon="create"></mat-icon>
                <p> Add post </p>
              </span>
            </a>
            <div class="vl"></div>
            <a routerLink="/badges">
              <span class="navlink">
                <mat-icon class="navIcon" svgIcon="emoji_events"></mat-icon>
                <p> Badges </p>
              </span>
            </a>
          </div>
          <div class="container" fxFlex="60"></div>
          <div class="container" fxFlex>
            <form class="form-inline mr-auto">
              <div class="md-form my-0">
                <mat-icon class="navIcon" svgIcon="search"></mat-icon>
                <input class="form-control" type="text" placeholder="search here..." onfocus="this.placeholder=''"
                onblur="this.placeholder='search here...'" aria-label="Search">
              </div>
            </form>
            <a href="https://github.com/alovega">
              <mat-icon class="navIcon" svgIcon="github"></mat-icon>
            </a>
            <a href="https://www.linkedin.com/in/kelvin-alwavega-403843116">
              <mat-icon class="navIcon" svgIcon="linkedin"></mat-icon>
            </a>
            <a href="https://join.skype.com/invite/auto8e0jERmT">
              <mat-icon class="navIcon" svgIcon="skype"></mat-icon>
            </a>
            <a href="https://medium.com/@alovegakevin">
              <mat-icon class="navIcon" svgIcon="medium"></mat-icon>
            </a>
            <a href="https://twitter.com/AlovegaK">
              <mat-icon class="navIcon" svgIcon="twitter"></mat-icon>
            </a>
            <a href="https://www.facebook.com/kevin.alovega">
              <mat-icon class="navIcon" svgIcon="facebook"></mat-icon>
            </a>
          </div>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <div class="nav-2">
          <div fxLayout="row" fxLayoutAlign="space-around">
             <div class="container" fxFlex="40">
              <span>
                <mat-icon class="logo" svgIcon="logo"></mat-icon>
              </span>
            </div>
            <div class="container container-2" fxFlex="60">
              <a  class="nav-button"  [matMenuTriggerFor]="menu">
                <span>Home</span>
                <mat-icon class="navIcon" svgIcon="arrow_drop_down"></mat-icon>
              </a>
              <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <span>
                  <a routerLink="/home" mat-menu-item class="dropdown">
                    <mat-icon svgIcon="home"></mat-icon>
                    <span>Home</span>
                  </a>
                  <a routerLink="/profile" mat-menu-item class="dropdown">
                    <mat-icon svgIcon="account_circle"></mat-icon>
                    <span>Profile</span>
                  </a>
                  <a mat-menu-item class="dropdown">
                    <mat-icon  svgIcon="sign_out"></mat-icon>
                    <span>Logout</span>
                  </a>
                </span>
              </mat-menu>
              <a class="nav-button" routerLink="/ask-question" class="nav-button">
                <span>Ask Question</span>
              </a>
              <a  class="nav-button"  routerLink="/questions" class="nav-button">
                <span>Questions</span>
              </a>
              <a  class="nav-button" routerLink="/contact-us" class="nav-button">
                <span>Contact Us</span>
              </a>
            </div>
          </div>
        </div>
        <mat-divider [inset]="true"></mat-divider>
      </div>
      <mat-divider [vertical]="true" ></mat-divider>
      <div>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxHide.gt-sm>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>
          <span class="navlink">
            <mat-icon class="navIcon" svgIcon="close" style="height: 40px;"></mat-icon>
          </span>
        </a>
        <a href="#" mat-list-item>
          <span class="navlink">
            <mat-icon class="navIcon" svgIcon="person"></mat-icon>
            <p> Login Area </p>
          </span>
        </a>
        <a href="#" mat-list-item>
          <span class="navlink">
            <mat-icon class="navIcon" svgIcon="create"></mat-icon>
            <p> Add post </p>
          </span>
        </a>
        <a href="#" mat-list-item>
          <span class="navlink">
            <mat-icon class="navIcon" svgIcon="emoji_events"></mat-icon>
            <p> Badges </p>
          </span>
        </a>
        <a href="#" mat-raised-button class="side-button">Ask Question</a>
        <form class="form-inline mr-auto side-form">
          <div class="md-form my-0" style="width: 100%;">
            <button mat-raised-button class="side-button">Search</button>
            <input class="form-control side-input" type="text" placeholder="search here..." onfocus="this.placeholder=''"
            onblur="this.placeholder='search here...'" aria-label="Search">
          </div>
        </form>
        <a href="#" mat-list-item>
          <span class="navlink">
            <mat-icon class="navIcon" svgIcon="question"></mat-icon>
            <p> Ask Question </p>
          </span>
        </a>
        <a href="#" mat-list-item>
          <span class="navlink">
            <mat-icon class="navIcon" svgIcon="list"></mat-icon>
            <p> Questions </p>
          </span>
        </a>
        <a href="#" mat-list-item>
          <span class="navlink">
            <mat-icon class="navIcon" svgIcon="home"></mat-icon>
            <p> Home </p>
          </span>
        </a>
        <a href="#" mat-list-item>
          <span class="navlink">
            <mat-icon class="navIcon" svgIcon="account_circle"></mat-icon>
            <p> Profile </p>
          </span>
        </a>
        <a href="#" mat-list-item>
          <span class="navlink">
            <mat-icon class="navIcon" svgIcon="info"></mat-icon>
            <p> Contact Us </p>
          </span>
        </a>
        <a href="#" mat-list-item>
          <span class="navlink">
            <mat-icon class="navIcon" svgIcon="sign_out"></mat-icon>
            <p> Logout </p>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>
