/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body, mat-sidenav-content{ 
  margin: 0; font-family: "Open Sans", "Droid Arabic Kufi", Arial, sans-serif;
  background-color: #efefef; 
}



:root {
  --image-url: src\assets\images\researching.jpg;
}

.row .tab{
  background-color: #efefef;
}

.post-content, .question-desc, .single-question .comment-text .text, .single-question .comment-text .text p {
  line-height: 30px;
  font-size: 15px;
}

.question .question-answered, .question .question-answered i {
  font-size: 13px;
}

.question-reply, .question-date, .author-message, .message-reply, .message-delete, .question-view, .question-points, .question-vote-all, .question-comment, .question-category, .question-author-meta, .question-tags, .post-tags, .question-favorite, .question-answered {
  margin: 0 20px 0 0;
  float: left;
  display: block;
}

.question-answered mat-icon, .question-favorite mat-icon{
  font-size: 13px;
}
.question-tab .tab-inner-warp {
  background: 0 0;
  padding: 0;
}

.button, .breadcrumbs{
  background-color: #ff7361;
  color: #fff
}

.widget {
  margin-bottom: 30px;
  color: #2f3239;
  padding: 20px;
  background: #fff;
  -moz-box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
  -webkit-box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
  box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
  border-bottom: 1px solid #dedede;
}

.widget .widget_title {
  margin: -20px 0 20px;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0 10px;
  border-bottom: 2px solid #dedede;
  position: relative;
}

.widget_title{
  color: #ff7361
}

.widget_stats ul li, .user-profile-widget .ul_list li {
  color: #2f3239;
  font-size: 14px;
  font-weight: 600;
  background-color: #eaeaeb;
  margin-bottom: 10px;
  padding: 10px !important;
}

.related-item h3 {
  padding-top: 2px;
  font-size: 14px !important;
  margin-bottom: 0;
  font-weight: 600;
}

.related-item p {
  margin: 5px 0;
  font-size: 13px;
  color: #707885;
  font-weight: 400;
  line-height: 22px;
}

.related-item span {
  font-size: 12px;
  color: #c5c4c4;
}

.sidebar li, #footer li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ecedee;
}

input, textarea, select, .form-control{
  padding: 8px;
  outline: none;
  font-size: 13px !important;
  font-weight: 600 !important;
  margin: 0;
  width: 200px;
  max-width: 100%;
  display: block;
  color: #2f3239;
  border: 1px solid #dedede;
  -moz-transition: border .25s linear,color .25s linear,background-color .25s linear;
  -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
  -o-transition: border .25s linear,color .25s linear,background-color .25s linear;
  transition: border .25s linear,color .25s linear,background-color .25s linear;
  background: #f3f3f3;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.form-group label{
  color: #2f3239;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-top: 9px;
}

.form-group .row{
  margin-bottom: 30px;
}