/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { 
  margin: 0; font-family: "Open Sans", "Droid Arabic Kufi", Arial, sans-serif;
  background-color: #abb8c3; 
}

:root {
  --image-url: src\assets\images\researching.jpg;
}

.row .tab{
  background-color: #efefef;
}

.post-content, .question-desc, .single-question .comment-text .text, .single-question .comment-text .text p {
  line-height: 30px;
  font-size: 15px;
}

.question .question-answered, .question .question-answered i {
  font-size: 13px;
}

.question-reply, .question-date, .author-message, .message-reply, .message-delete, .question-view, .question-points, .question-vote-all, .question-comment, .question-category, .question-author-meta, .question-tags, .post-tags, .question-favorite, .question-answered {
  margin: 0 20px 0 0;
  float: left;
  display: block;
}

.question-answered mat-icon, .question-favorite mat-icon{
  font-size: 13px;
}
.question-tab .tab-inner-warp {
  background: 0 0;
  padding: 0;
}

.button{
  background-color: #ff7361;
  color: #fff
}

.widget {
  margin-bottom: 30px;
  color: #2f3239;
  padding: 20px;
  background: #fff;
  -moz-box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
  -webkit-box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
  box-shadow: 0 1px 5px -1px rgba(0,0,0,.13);
  border-bottom: 1px solid #dedede;
}

.widget .widget_title {
  margin: -20px 0 20px;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0 10px;
  border-bottom: 2px solid #dedede;
  position: relative;
}

.widget_title{
  color: #ff7361
}

.widget_stats ul li, .user-profile-widget .ul_list li {
  color: #2f3239;
  font-size: 14px;
  font-weight: 600;
  background-color: #eaeaeb;
  margin-bottom: 10px;
  padding: 10px !important;
}


