<div class="section-warp big-search top-after-header">
    <div class="container-fluid clearfix">
        <div class="box_icon">
            <div class="row">
                <div class="col-md-12">
                    <form action="" class="form">
                        <div class="search-p">
                            <input type="text" class="live-search" placeholder="search here...">
                            <mat-icon svgIcon="search"></mat-icon>
                            <button class="btn ask-search"> search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>