<div class="container-fluid">
  <div class="row all-content">
    <div class="col-md-3">
      <h2>Welcome To Ask</h2>
      <p>
        Ask is a simple online platform where anyone can post a question on the web
        and wait for responses from people all around the world wide web.
      </p>
      <button type="button" class="btn btn-dark btn-sm">About Us</button>
      <button type="button" class="btn btn-dark btn-sm">Join Now</button>
    </div>
    <div class="col-md-9">
      <form>
        <div class="form-group">
            <p class="text-area">
              <textarea name="" id="" cols="30" rows="10" onfocus="if(this.value==this.defaultValue)this.value='';"
              onblur="if(this.value=='')this.value=this.defaultValue;"
              >
              Ask a question and you will be sure to find an answer!
            </textarea>
              <mat-icon class="icon" svgIcon="pen_square" style="color: #373b43;"></mat-icon>
              <button type="button" class="btn btn-dark btn-sm ask-question">Ask now</button>
            </p>
        </div>
      </form>
    </div>
  </div>
  <div class="row tab">
    <div class="col-md-9">
      <div class="tabs-warp question-tab">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li  ngbNavItem>
            <a class="current" ngbNavLink>Recent Questions</a>
            <ng-template ngbNavContent>
              <app-card></app-card>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a class="current" ngbNavLink>Most Responses</a>
            <ng-template ngbNavContent>
              <app-card></app-card>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a class="current" ngbNavLink>Recently Answered</a>
            <ng-template ngbNavContent>
              <app-card></app-card>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a class="current" ngbNavLink>No  Answers</a>
            <ng-template ngbNavContent>
            </ng-template>
          </li>
        </ul>
        <div class="tab-inner" [ngbNavOutlet]="nav"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="stickySideBar tabs-warp">
        <div class="widget_ask">
          <a href="" class="btn button">
            Ask a question
          </a>
        </div>
        <div class="widget stats-widget">
          <h3 class="widget_title"> Stats </h3>
          <div class="widget_stats ul_list">
            <ul>
              <li>
                <mat-icon svgIcon="question"></mat-icon>
                Questions(<span>19</span>)
              </li>
              <li>
                <mat-icon svgIcon="comment_solid"></mat-icon>
                Answers(<span>55</span>)
              </li>
              <li>
                <mat-icon svgIcon="asterisk_solid"></mat-icon>
                Best Answers(<span>4</span>)
              </li>
              <li>
                <mat-icon svgIcon="person"></mat-icon>
                Users(<span>49</span>)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  
</div>
