<div class="container-fluid">
  <div class="row all-content">
    <div class="col-md-3">
      <h2>Welcome To Ask</h2>
      <p>
        Ask is a simple online platform where anyone can post a question on the web
        and wait for responses from people all around the world wide web.
      </p>
      <button type="button" class="btn btn-dark btn-sm">About Us</button>
      <button type="button" class="btn btn-dark btn-sm">Join Now</button>
    </div>
    <div class="col-md-9">
      <form [formGroup]="questionForm">
        <div class="form-group">
            <p class="text-area">
              <textarea name="" id="" cols="30" rows="10" onfocus="if(this.value==this.defaultValue)this.value='';"
              onblur="if(this.value=='')this.value=this.defaultValue;" formControlName="question"
              >
              Ask a question and you will be sure to find an answer!
            </textarea>
              <mat-icon class="icon" svgIcon="pen_square" style="color: #373b43;"></mat-icon>
              <button type="button" class="btn btn-dark btn-sm ask-question">Ask now</button>
            </p>
        </div>
      </form>
    </div>
  </div>
</div>
