h1 {
  color: #ffffdf;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

p {
  color: #c2c8d4;
  line-height: 22px;
  font-size: 13px;
}

.btn-register {
  background-color: #fe7361;
  color: white;
}
